.container
  %h1 Listing projects

  %table.table
    %thead
      %tr
        %th Name
        %th Descrition
        %th Active
        %th
        %th
        %th

    %tbody
      - @projects.each do |project|
        %tr
          %td= project.name
          %td= project.description
          %td= project.active
          %td= link_to 'Show', project
